.App {
	text-align: center;
}

body {
	background: #141414;
	color: #ffffff;
}

.movie-app>.row {
	overflow-x: auto;
}

.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

nav ul {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
	width: 100%;
	background-color: #333;
	border: 1px solid #333333;
}

nav ul a {
	text-decoration: none;
	display: block;
	padding: 10px;
	margin: 0 15px;
	color: orange;
}

nav ul .active, nav ul a:hover {
	background: orange;
	color: black;
}